* {
    margin: 0;

}

header {
    top: 0;
    left: 0;
    box-sizing: border-box;
    height: 70px;
    padding: 25px 70px;
   
    background-color: rgba(214, 166, 34, 0.904);
    color: rgb(245, 237, 235); 
    font-size: 25px;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: left;
    flex-direction: row;
    position: relative;
    top: 10px;
    left: 0;
}

.category{
 
    left:10px;
    margin-top: 10px;
    width: 150px;
    height: 500px;
    vertical-align: top;
    padding-left: 20px;
    position: relative;
    display: inline-block;
    border: solid 1px rgb(214, 201, 194);
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20px;
}
p {
    margin-top: 10px;
}
a:link {
    text-decoration: none;
 }

a:visited{
    color:rgba(54, 52, 44, 0.904);
}

a:hover{
    color:rgb(245, 149, 6);
   
    text-decoration: underline;
   

 }
a:active{
    color: rgb(105, 65, 6);
    font-size: 90%;
    
}

.subcategory {
    vertical-align: top;
    height: fit-content;
    width: fit-content;
    padding:0px  20px 0px 20px;
    margin-left: 30px;
    margin-top: 30px; 
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    
}


.subsubcategory {
    display:inline-block;
    vertical-align: top;
    margin-left: 30px;
    margin-top: 30px;
  
    width: max-content;
    height: 400px;
    padding: 0 20px 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgba(54, 52, 44, 0.904);
    font-size: 17px;

}


